In [1]:
!pip install seleniumdesignation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

Collecting selenium
  Downloading selenium-4.5.0-py3-none-any.whl (995 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ballbuster69\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ballbuster69\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: idna in c:\users\ballbuster69\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\ballbuster69\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ballbuster69\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\ballbuster69\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ballbuster69\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\ballbuster69\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.0rc9-py3-none-any.whl (12 kB)
Requirement already satisfied: pycparser in c:\users\ballbuster69\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ballbuster69\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
Successfully installed exceptiongroup-1.0.0rc9 h11-0.14.0 outcome-1.2.0 selenium-4.5.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [5]:
driver = webdriver.Chrome("chromedriver.exe")

In [6]:
driver.get('https://www.naukri.com/')

In [7]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [8]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [9]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [10]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(i.text)

# Scrapping Company Name from the webpage
company_name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(i.text)

# Scrapping Experience from the webpage
experience_required=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    experience_required.append(i.text)

In [11]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
2,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
4,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
5,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
6,Python Data Analyst - WFH,Remote,hCapital Business Consulting Private Limited,5-10 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

# Q2 : Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [14]:
driver = webdriver.Chrome("chromedriver.exe")

In [15]:
driver.get('https://www.naukri.com/')

In [16]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [17]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [18]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [19]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(j.text)

# Scrapping Company Name from the webpage
company_name=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(k.text)

In [20]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
5,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
6,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
7,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro
8,Opportunity For Senior Data Scientist/ Busines...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",PayU
9,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics

In [22]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage

In [21]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [23]:
driver = webdriver.Chrome("chromedriver.exe")

In [24]:
driver.get('https://www.naukri.com/')

In [25]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [27]:
#clicking the Search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [29]:
#applying location filter and selecting "Delhi/NCR" otion
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[1]/span")
location.click()

In [30]:
#applying Salary filter and selecting "3-6 lakhs" otion
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/p")
salary.click()

In [31]:
# Scrapping job-title from the webpage
jtitle=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    jtitle.append(i.text)
    
# Scrapping job-location from the webpage
jloc=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    jloc.append(j.text)

# Scrapping Company name from the webpage
comp=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    comp.append(k.text)
    
# Scrapping Experience required from the webpage
exp=[]
for l in  driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    exp.append(l.text)

In [32]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':jtitle,'Job_Location':jloc,'Company_Name':comp,'Experience required':exp})
df

,Job_Title,Job_Location,Company_Name,Experience required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Science Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,4-7 Yrs
2,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs
3,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics,6-10 Yrs
4,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs
5,Data Scientist I,Bangalore/Bengaluru,Uber,5-7 Yrs
6,Data Scientist - PSA,Mumbai,Abbott,5-7 Yrs
7,Senior Analyst-Data Science,Mumbai,Accenture,5-8 Yrs
8,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad,0-2 Yrs
9,Geospatial Data Engineer/Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities,5-10 Yrs

In [34]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [35]:
driver = webdriver.Chrome("chromedriver.exe")

In [36]:
driver.get('https://www.flipkart.com/')

In [37]:
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [38]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [39]:
# Scrapping Brand detail from the webpage
brand=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

# Scrapping Product Description from the webpage
pro1=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
    pro1.append(j.text)
    
pro2=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    pro2.append(j.text)
    
pro_des=pro1+pro2

# Scrapping Price from the webpage
price=[]
for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    price.append(k.text)

# Scrapping Discount from the webpage
dis=[]
for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    dis.append(l.text)

In [40]:
# converting 1st page scrapped data into DataFrame
df=pd.DataFrame({'Brand':brand,'Product Description':pro_des,'Price':price,'Discount':dis})
df

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179,86% off
4,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179,86% off
5,NuVew,UV Protection Aviator Sunglasses (57),₹198,73% off
6,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
7,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹538,73% off
8,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
9,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
10,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹199,80% off
11,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹272,86% off
12,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹199,50% off
13,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179,86% off
14,MODE,UV Protection Aviator Sunglasses (Free Size),₹179,77% off
15,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹599,70% off
16,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (54),₹179,82% off
17,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
18,SHAAH COLLECTIONS,UV Protection Rectangular Sunglasses (Free Size),₹179,82% off
19,LIZA ANGEL,"UV Protection, Polarized Rectangular Sunglasse...",₹261,73% off
20,PIRASO,UV Protection Aviator Sunglasses (58),₹305,88% off
21,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹599,70% off
22,PIRASO,UV Protection Rectangular Sunglasses (52),₹246,84% off
23,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹524,73% off
24,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹157,82% off
25,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹561,71% off
26,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹168,77% off
27,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹599,70% off
28,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
29,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹699,65% off
30,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹279,81% off
31,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹424,71% off
32,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹869,13% off
33,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
34,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹679,15% off
35,GANSTA,"UV Protection, Gradient Aviator Sunglasses (57)",₹249,80% off
36,SHAAH COLLECTIONS,UV Protection Round Sunglasses (52),₹179,87% off
37,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169",10% off
38,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹719,20% off
39,Singco India,"Riding Glasses, UV Protection Clubmaster, Wayf...",₹321,83% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.#

In [44]:
driver = webdriver.Chrome("chromedriver.exe")

In [45]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&mar')

In [46]:
rate1=[]
rate2=[]
summary=[]
f_rev=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
start=0
end=15
for page in range(start,end):
    
# Scrapping rating from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        rate1.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]'):
        rate2.append(i.text)
    rate=rate1+rate2

# Scrapping Review Summary from different pages
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        summary.append(j.text)
        
# Scrapping Full Review from different pages
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        f_rev.append(k.text)
        
#scraping the list of reviews data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href')) #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [47]:
# converting scrapped data for first 100 reviews into DataFrame
review=pd.DataFrame({'Rating':rate,'Review Summary':summary,'Full Review':f_rev})
review.head(100)

,Rating,Review Summary,Full Review
0,5,Terrific,Wow superb camera phone\nVery smooth speed and...
1,5,Perfect product!,The brand is very trustworthy and i got genuin...
2,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
3,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
4,5,Awesome,"Excellent product worth for every penny, writi..."
...,...,...,...
95,5,Just wow!,This is my first iPhone after being an android...
96,5,Best in the market!,Perfect iPhone . Glad that I Pick iPhone 12 in...
97,5,Fabulous!,Good experience iPhone 12 mobile\nCamera clari...
98,5,Awesome,This was my second iphone after the xr and i c...
99,4,Awesome,I have been using iPhone 12 from past 10 days....

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [48]:
driver = webdriver.Chrome("chromedriver.exe")

In [49]:
driver.get('https://www.flipkart.com/')

In [51]:
#entering "sneakers" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [52]:
#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [55]:
#introducing list for brand, product description, price & discount
brand=[]
prod=[]
price=[]
discount=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
for page in range(0,3):
    
# Scrapping brand list from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        
# Scrapping product description from different pages 
    for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        prod1.append(j.text)
    
# Scrapping price from different pages 
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(k.text)
        
# Scrapping discount from different pages 
    for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        discount.append(l.text)
        
#scraping the required data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [ ]:
Sneaker_data=pd.DataFrame({'Brand':brand,'Product Description':prod,'Price':price,'Discount':discount})
Sneaker_data.head(100)

# Q7: Go to the link - https://www.myntra.com/shoes
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [57]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [58]:
driver = webdriver.Chrome("chromedriver.exe")

In [59]:
driver.get('https://www.myntra.com/shoes')

In [60]:
price_filter=driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
price_filter.click()
time.sleep(2)

In [61]:
#Selecting required filter of colour black
colour_filter=driver.find_element(By.XPATH,"//span[@data-colorhex='black']")
colour_filter.text
colour_filter.click()
time.sleep(2)

In [62]:
# Selecting required filter of price

price_filter=driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
price_filter.click()
time.sleep(2)

In [63]:
brand=[]
s_s_desc=[]
price=[]
b_name=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
desc=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
pr=driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")
#Using for loop with len function to iterate equal data
for j in range(len(desc)):
    brand.append(b_name[j].text)
    s_s_desc.append(desc[j].text)
    price.append(pr[j].text)
print(brand)
print(s_s_desc)
print(price)

#Clicking Next Button to reach next page to extract data
n_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']/a")
n_button.click()

['Red Tape', 'PUMA Motorsport', 'El Paso', 'Roadster', 'HRX by Hrithik Roshan', 'Puma', 'Red Tape', 'HRX by Hrithik Roshan', 'Red Tape', 'Roadster', 'U.S. Polo Assn.', 'Puma', 'Campus', 'Puma', 'El Paso', 'Skechers', 'HRX by Hrithik Roshan', 'U.S. Polo Assn.', 'Provogue', 'Red Tape', 'Eego Italy', 'Roadster', 'U.S. Polo Assn.', 'Puma', 'GRIFFIN', 'Kiana', 'one8 x PUMA', 'El Paso', 'Reebok', 'Red Tape', 'Puma', 'MENGLER', 'Red Tape', 'Campus', 'Puma', 'Power', 'Roadster', 'Puma', 'Fentacia', 'HRX by Hrithik Roshan', 'Campus', 'El Paso', 'HRX by Hrithik Roshan', 'GRIFFIN', 'Roadster', 'U.S. Polo Assn.', 'Skechers', 'Puma', 'Red Tape', 'FURO by Red Chief']
['Men Walking Shoes', 'Men AMG Petronas F1 Sneakers', 'Woven Design Slip-On Sneakers', 'Men Sneakers', 'Men Aqua Shoes', 'Men Running Shoes', 'Men Walking Shoes', 'Men Street Run 2.0 Shoe', 'Men Walking Shoes', 'Men Casual Sneakers', 'Men Solid Horsebit Loafers', 'Men SoftFoam Running', 'Men Running Shoes', 'Flex Essential Running Shoes', 'Women Flat Boots', 'Men Go Run Fast Training Shoes', 'Men TR-100 Training Shoe', 'Men Sneakers', 'Men Black Solid Formal Debys', 'Men Solid Leather Formal Derbys', 'Men Trekking Shoes', 'Men Textured Sneakers', 'Men MONTON 4.0 Sneakers', 'Men Running Shoes', 'Men Perforations Fashion', 'Women Mules Flats', 'Men Printed Slip-On Sneakers', 'Women Flat Boots', 'Men Edgility Running Shoes', 'Walking Shoes', 'Men Sneakers', 'Men Walking Shoes', 'Men Walking Shoes', 'Men Road Running Shoes', 'Men Solid Running Shoes', 'Men Running Shoes', 'Men Solid Sneakers', 'Prowl Training or Gym Shoes', 'Men Woven Flat Boots', 'Men Rep Flex-1 Training Shoes', 'Men Running Shoes', 'Women Solid Heeled Boots', 'Men Aqua Shoes', 'Men Printed Slip-On Sneakers', 'Men Sneakers', 'Men Textured PU Loafers', 'Men Go Walk Walking Shoes', 'Unisex Sneakers', 'Men Walking Shoes', 'Men Running Shoes']
['Rs. 1559Rs. 5199', 'Rs. 6399Rs. 7999', 'Rs. 799Rs. 3495', 'Rs. 872Rs. 3795', 'Rs. 1169Rs. 2599', 'Rs. 1999Rs. 3999', 'Rs. 1469Rs. 4899', 'Rs. 1999Rs. 4999', 'Rs. 1739Rs. 5799', 'Rs. 880Rs. 4195', 'Rs. 2279Rs. 3799', 'Rs. 2749Rs. 5499', 'Rs. 1399Rs. 1699', 'Rs. 2249Rs. 2999', 'Rs. 1169Rs. 4330', 'Rs. 5224Rs. 5499', 'Rs. 2239Rs. 5599', 'Rs. 2039Rs. 3399', 'Rs. 899Rs. 4495', 'Rs. 2039Rs. 6799', 'Rs. 987Rs. 2599', 'Rs. 910Rs. 3795', 'Rs. 1799Rs. 2999', 'Rs. 2274Rs. 3499', 'Rs. 2699Rs. 3699', 'Rs. 789Rs. 2819', 'Rs. 3224Rs. 4299', 'Rs. 1169Rs. 4330', 'Rs. 2249Rs. 2999', 'Rs. 1589Rs. 5299', 'Rs. 1999Rs. 3999', 'Rs. 679Rs. 3999', 'Rs. 1919Rs. 6399', 'Rs. 779Rs. 1299', 'Rs. 2159Rs. 2999', 'Rs. 1999', 'Rs. 879Rs. 2199', 'Rs. 3399Rs. 3999', 'Rs. 899Rs. 4499', 'Rs. 1879Rs. 4699', 'Rs. 1399Rs. 1699', 'Rs. 1082Rs. 4330', 'Rs. 1259Rs. 2799', 'Rs. 1999Rs. 3599', 'Rs. 899Rs. 4495', 'Rs. 2159Rs. 3599', 'Rs. 7499', 'Rs. 1999Rs. 3999', 'Rs. 1529Rs. 5099', 'Rs. 1599Rs. 3999']

In [64]:
brand1=[]
s_s_desc1=[]
price1=[]
br_name=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
desc1=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
pr1=driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")
for j in range(len(br_name)):
    brand1.append(br_name[j].text)
    s_s_desc1.append(desc1[j].text)
    price1.append(pr1[j].text)

In [65]:
brands=brand+brand1
s_s_describe=s_s_desc+s_s_desc1
prices=price+price1

In [66]:
#making DataFrame of the scrapped data
df=pd.DataFrame(list(zip(brands[0:100],s_s_describe[0:100],prices[0:100])),columns=["Brand","Short Shoe Description","Price"])
df

                    Brand         Short Shoe Description             Price
0                Red Tape              Men Walking Shoes  Rs. 1559Rs. 5199
1         PUMA Motorsport   Men AMG Petronas F1 Sneakers  Rs. 6399Rs. 7999
2                 El Paso  Woven Design Slip-On Sneakers   Rs. 799Rs. 3495
3                Roadster                   Men Sneakers   Rs. 872Rs. 3795
4   HRX by Hrithik Roshan                 Men Aqua Shoes  Rs. 1169Rs. 2599
..                    ...                            ...               ...
95               Red Tape            Women Walking Shoes  Rs. 1529Rs. 5099
96                   Puma        Men Shore Running Shoes  Rs. 2749Rs. 4999
97               Skechers      Men GO WALK - TERRA Shoes          Rs. 9999
98                 Killer      Men Perforations Sneakers   Rs. 799Rs. 3995
99                Harvard  Men Printed High-Top Sneakers  Rs. 1203Rs. 2799

[100 rows x 3 columns]

In [67]:
driver.close(# setting CPU Type filter to “Intel Core i7” as required
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/div[1]/span')
cpu_type.click())# setting CPU Type filter to “Intel Core i7” as required
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/div[1]/span')
cpu_type.click()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” You have to scrape 3 attributesfor each laptop:

Title
Ratings
Price#

In [68]:
driver = webdriver.Chrome("chromedriver.exe")

In [69]:
driver.get('https://www.amazon.in/')

In [70]:
# entering "Laptop" in search field
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [71]:
# clicking on the search button
search_button=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [72]:
# setting CPU Type filter to “Intel Core i7” as required
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/div[1]/span')
cpu_type.click()

In [73]:
# Scrapping product title from the webpage
title=[]
for i in driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[0:10]:
    title.append(i.text)
    
# Scrapping product price from the webpage
price=[]
for j in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[0:10]:
    price.append(j.text)

In [74]:
Laptop=pd.DataFrame({'Title':title,'Price':price}) 
Laptop.head(10)

                                               Title   Price
0  Sponsored\nAcer Aspire 5 Gaming Intel Core i5 ...  38,990
1  Sponsored\nAcer Extensa 15 Lightweight Laptop ...  42,990
2  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  37,999
3  ASUS Vivobook 15, 15.6" (39.62 cm) FHD, AMD Du...  56,999
4  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, A...  32,990
5  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  21,495
6  Dell New Windows 11 Inspiron 3525 Laptop, Inte...  34,990
7  Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...  43,990
8  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...  37,990
9  Lenovo IdeaPad Slim 1 AMD Ryzen 3 3250U 15.6" ...  41,999

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.
You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [75]:
driver = webdriver.Chrome("chromedriver.exe")

In [76]:
driver.get('https://www.ambitionbox.com/')

In [78]:
jobs=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a')
jobs.click()

In [79]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [81]:
# clicking on location icon
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

# entering "Noida" for location search
place=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
place.send_keys('Noida')

In [82]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [83]:
company=[]
for i in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'): #scrapping company name from page
    company.append(i.text)

# Scrapping No. of days ago when job was posted from the webpage
day=[]
for j in driver.find_elements(By.XPATH,'//span[@class="body-small-l"]'):
    day.append(j.text)
del day[1:20:2] 
    
# Scrapping Rating of the Company from the webpage
rating=[]
for k in driver.find_elements(By.XPATH,'//span[@class="body-small"]'):
    rating.append(k.text)

In [84]:
Jobs=pd.DataFrame({'Company Name':company, 'No. of Days ago when job was posted':day, 'Rating':rating})
Jobs

  Company Name No. of Days ago when job was posted Rating
0
1
2
3
4
5
6
7
8
9

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [85]:
driver = webdriver.Chrome("chromedriver.exe")

In [86]:
driver.get('https://www.ambitionbox.com/')

In [89]:
# selecting salary option
salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
salary.click()

# selecting first option from drop down menu
browser=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[1]/img')
browser.click()

In [90]:
# enterring 'Data Scientist' in Search job profile
job=driver.find_element(By.XPATH,'//input[@class="tt-input"]')
job.send_keys('Data Scientist')

In [91]:
# selecting first option from drop down menu
select=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div')
select.click()

In [92]:
# Scrapping company name from the webpage
comp=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]/a'):
    comp.append(i.text.split("\n"))
    
# merging sub lists into a single list and deleting even place items to get required data
company=sum(comp,[])
del company[1:20:2]

# Scrapping total salary record from the webpage
bsal=[]
for a in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]/span'):
    bsal.append(a.text.replace('(','').replace(')',''))

# Scrapping Average salary from the webpage
avgsal=[]
for b in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'): 
    avgsal.append(b.text)

# Scrapping Minimum Salary & Maximum Salary from the webpage
min_sal=[]
max_sal=[]
for c in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'): 
    min_sal.append(c.text)
    max_sal.append(c.text)
del min_sal[1:20:2]
del max_sal[0:20:2]

# Scrapping Experience required data from the webpage
exp=[]
for d in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'): 
    exp.append(d.text.split('('))
    
# merging sub lists into a single list and deleting even place items to get required data   
req_exp=sum(exp,[]) 
del req_exp[1:20:2]

In [93]:
df=pd.DataFrame({'Company Name':company,'Total Salary Record':bsal,'Average Salary':avgsal,'Minimum Salary':min_sal,'Maximum Salary':max_sal,'Experience Required':req_exp})
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 24 salaries,₹ 32.2L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 59 salaries,₹ 19.8L,₹ 15.0L,₹ 26.0L,2-4 yrs experience
2,Optum,based on 49 salaries,₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 35 salaries,₹ 15.9L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 118 salaries,₹ 15.5L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Sigmoid Analytics,based on 10 salaries,₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience
6,Tiger Analytics,based on 70 salaries,₹ 14.6L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
7,Legato Health Technologies,based on 11 salaries,₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
8,HSBC,based on 10 salaries,₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience
9,Tredence,based on 14 salaries,₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience

In [94]:
driver.close()